<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>snovna.mrvaqy@tznvy.pbz</string>
	<key>contactName</key>
	<string>Fabian Zeindl</string>
	<key>description</key>
	<string>Bundle for the Elm-language.</string>
	<key>name</key>
	<string>Elm</string>
	<key>uuid</key>
	<string>1ACB81D7-1CB3-49F6-BF49-0A47ED71EA37</string>
</dict>
</plist>
